/*
FONTES: Lato, Roboto
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Lato);

/*
VARIÁVEIS:
*/
:root {
    --texto-default: #0e0e0e;
    --texto-opaco: #0e0e0eab;
    --fundo-claro: #e89eff;
    --fundo-claro-bege: #FFDF9E;
}

/*
DEFINIÇÕES GLOBAIS
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.2rem;
    font-family: Lato, Roboto;
    word-wrap: break-word;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--texto-opaco);
}

img {
    max-width: 100%;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 56px;
    text-transform: uppercase;
}

h3 {
    font-size: 48px;
    font-weight: lighter;
}

/*
container
#container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
*/

/*
BOTÕES
*/

button{
    text-align: center;
}

#top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /*align-items: center;*/
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: var(--fundo-claro);
    cursor: pointer;
    border: transparent 0 solid;
    border-radius: 32px;
    z-index: 1;
}

/*
main
*/
main {
    display: block;
}

/*
section
*/
.image {
    width: 100%;
    margin: 0 auto;
}

section.image.int {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
    background-position: 65% 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.image.int.parallax-1 {
    background-image: url(assets/img/estetica_trat.jpg);
}

section.image.int.parallax-2 {
    background-image: url(assets/img/leaves.jpg);
}

section.image.int.parallax-3 {
    background-image: url(assets/img/woman_beauty.jpg)
}

/*
DEFINE TEXTOS ENTRE O PARALLAX
*/
section.image.txt {
    background-color: var(--fundo-claro-bege);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 16px;
    padding-bottom: 16px;
}

section.image h3 {
    color: var(--texto-default);
    margin-top: 16px;
    margin-bottom: 16px;
}

section p {
    letter-spacing: 0.5vh;
    margin-bottom: 5%;
}

/*
footer
*/