/*
FONTES: Lato, Roboto
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Lato);

/*
VARIÁVEIS:
*/
:root {
    --texto-default: #0e0e0e;
    --texto-opaco: #0e0e0eab;
    --fundo-claro: #e89eff;
    --dourado: #ffb829;
    --dourado-opaco: #ffb829d8;
    --texto-tit: #2AC9F5;
    --gelo: #ddd9ce;
}

/*
DEFINIÇÕES GLOBAIS
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--gelo);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.2rem;
    font-family: Lato, Roboto;
    word-wrap: break-word;
}

ul,
li {
    list-style: none;
}

li {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: var(--texto-default);
}

img {
    max-width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    color: #ffffffe1;
    font-size: 64px;
    cursor: context-menu;
    text-shadow: var(--fundo-claro) 2.5px 5px;
    text-transform: uppercase;
}

h2 {
    color: var(--texto-opaco);
    font-size: 56px;
    cursor: context-menu;
}

h3 {
    font-size: 48px;
    font-weight: lighter;
    cursor: context-menu;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    color: white;
    letter-spacing: -0.2vh;
}

h4:hover {
    transition-duration: 0.5s;
    font-size: 36px;
    /*color: var(--fundo-claro);*/
    /*text-shadow: white 1px 2px 1px;*/
}

/*
container
#container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
*/

footer p {
    color: var(--texto-opaco);
}

/*
BOTÃO DE VOLTAR AO TOPO
*/
#top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: var(--fundo-claro);
    cursor: pointer;
    border: transparent 0 solid;
    border-radius: 32px;
    z-index: 1;
}

/*
main
*/
main {
    display: block;
}

/*
section
*/
.image {
    width: 100%;
    margin: 0 auto;
}

section button {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 145px;
    height: 48px;
    padding: 8px;
    margin-left: 36px;
    /*ESPAÇAMENTO DA GRID*/
    margin-right: 16px;
    border-radius: 12px;
    border: white 2px solid;
    /*font-size: 1.2rem;*/
    background-color: var(--fundo-claro);
}

section button p {
    font-size: 1.2rem;
    letter-spacing: normal;
    color: white;
}

section button:hover {
    transition-duration: 0.3s;
    border-radius: 0px;
    /*box-shadow: var(--fundo-claro) 1.5px 3px 3px;*/
}

section.image.int {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
    background-position: 65% 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

/*
grid
*/
#containerSection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 16px;
}

/*
TÍTULO NA PARTE DE CIMA
*/
#titSection {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#subTit {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*
BOTÕES LADO A LADO
*/
#btSection-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#btSection-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

section.image.int.parallax-1 {
    background-image: url(assets/img/estetica_trat.jpg);
    image-rendering: optimizeQuality;
}

section.image.int.parallax-2 {
    background-image: url(assets/img/leaves.jpg);
    image-rendering: optimizeQuality;
}

section.image.int.parallax-3 {
    background-image: url(assets/img/woman_beauty.jpg);
    image-rendering: optimizeQuality;
}

/*
DEFINE TEXTOS ENTRE O PARALLAX
*/
section.image.txt {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 16px;
    padding-bottom: 16px;
}

section.image h3 {
    color: var(--texto-default);
    margin-top: 16px;
    margin-bottom: 16px;
    letter-spacing: -0.5vh;
}

section p {
    text-align: justify;
    letter-spacing: 0.2vh;
    margin-bottom: 5%;
}

/*
footer
*/

#rod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to bottom, #FFB4FF, var(--gelo));
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

#container-rod {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 5%;
}

/*
TEXTO RODAPÉ
*/
#txtRod-1 {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#txtRod-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#txtRod-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3
}

#txtRod-4 {
    text-align: center;
    font-size: 16px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#txtRod-4 a {
    color: var(--texto-opaco);
}

#txtRod-4 a:hover {
    color: var(--texto-default);
}

/*
RESPONSIVIDADE
*/
@media screen and (max-width: 720px) {
    section.image.int {
        display: flex;
        flex-direction: column;
    }

    section.image.txt {
        display: flex;
        flex-direction: column;
    }

    #rod {
        display: flex;
        flex-direction: column;
    }
}